<div class="page-header">
    <h1>Accounts being tracked</h1>
</div>


<% @accounts.each do |account| %>
    <div class="media">
        <a href="<%= account_path(account) %>">
            <div class="media-image">
                <img class="avatar" src="<%= account.profile.avatar_url %>" alt="me" width="48" height="48">
            </div>

            <div class="media-content">
                <h3><%= account.profile.name %></h3>
                <h4>@<%= account.profile.username %></h4>
            </div>
        </a>
    </div>
<% end %>

<hr>

<%= link_to "Track new account", new_account_path, :class => 'btn btn-outline' %>
