<% provide(:title, "Tracking #{@account.profile.name}" ) %>

<div class="page-header">
    <img class="avatar media-image" src="<%= hq_avatar(@account.profile.avatar_url) %>" width="60" height="60">
    <h1><%= @account.profile.name %> (@<%= @account %>)</h1>
</div>


<h3>Changes</h3>

<% if @checks.length > 0 %>
    <%= render partial: "check", collection: @checks %>
<% else %>
    <p>No changes detected yet!</p>
<% end %>

<div class="pagination">
    <%= will_paginate @checks, :page_links => false %>
</div>


<div class="form-actions">
    <%= link_to "stop tracking", account_path(@account),
              :method => 'delete',
              :data => { :confirm =>  'Are you sure you want to delete this account?' },
              :class => 'btn btn-danger' %>
</div>
